VITE_SUPABASE_URL=https://szyymgdejkjmireyszwd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR1cW5qbWpndW9nd3Bkb29pZHBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2NTkyMDcsImV4cCI6MjA4NzIzNTIwN30.20lgiWvHLoEj9eWbjN2HEoZlR7Q693fy4KOO320zN5Y
